.qr {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    flex-direction: column;
}

ion-modal.inf {
    --width: 256px;
    --height: 320px;
}

.padded {
    /*padding-left: 10px;*/
}
