.qr {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    flex-direction: column;
}

ion-modal.inf {
    --width: 256px;
    --height: 320px;
}

ion-modal.big-modal {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    flex-direction: column;
}

.copyToClipboard{
    user-select: none;
}
