:root, .ion-content, ion-content{
  --padding-start: 10px;
  --padding-end: 10px;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  flex-direction: column;
}

.center-horizontal {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
